[Desktop Entry]
Name=MacOS Catalina

X-KDE-PluginInfo-Name=MacOS Catalina
X-KDE-PluginInfo-Author=Mikhail K.
X-KDE-PluginInfo-Email=sm1leua@ya.ru
X-KDE-PluginInfo-License=GPL-3
